body {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.bg-dark {
	background-color: #222;
}

.bg-light {
	background-color: #ddd;
}

.wrapper {
	padding: 0 15px;
}

.content {
	padding: 15px;
}

.full {
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	overflow: auto;
}

.full-height {
	height: 100% !important;
	overflow: auto !important;
}

.full-hidden {
	overflow: hidden;
}

.full-width {
	width: 100% !important;
}

.absolute {
	position: absolute !important;
}

.collapsable {
	display: block;
}

@media (max-width: 1024px) {
	.collapsable, .absolute.collapsable.filter {
		display: none;
	}

	.absolute.collapsable {
		position: relative !important;
		width: 100% !important;
		height: auto;
		display: block;
	}
	.absolute.collapsable.filter {
		position: absolute !important;
		width: 95% !important;
		height: 90% !important;
		margin-left: 2.5% !important;
	}

	.filter {
		background-color: #fff;
		box-shadow: 2px 0px 24px #666;
		margin-left: auto;
		margin-right: auto;
		top: 0;
		z-index: 10000;
	}

	.collapsable.in {
		display: block !important;
	}
}

.fixed {
	position: fixed;
}

.alert-notify {
  color: #fff;
  background-color: #777;
}

.alert-disabled, .bg-disabled, .label-disabled {
  color: #222;
  background-color: #ddd;
  border-color: #ccc;
}

.alert-disabled hr {
  border-top-color: #ccc;
}

.alert-disabled .alert-link {
  color: #222;
}

#site-login, #login-form {
	margin: auto;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after  { content: /*"\e113"*/"\e151"; }
a.desc:after { content: /*"\e114"*/"\e152"; }

.sort-numerical a.asc:after { content: "\e153"; }
.sort-numerical a.desc:after { content: "\e154"; }

.sort-ordinal a.asc:after { content: "\e155"; }
.sort-ordinal a.desc:after { content: "\e156"; }

.modal-dialog.modal-xlg {
  	width: 95%;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
}

.modal, .modal-body {
    overflow: hidden;
}

.modal-auto {
	width: auto;
	height: auto;
}

.modal-dialog.modal-full {
	bottom: 30px; top: 0; left: 0; right: 0;
	position: fixed;
	margin: 15px auto;
}

.modal-dialog.modal-full .modal-content {
	height: 100%;
	width: 100%;
	position: absolute;
}

.modal-dialog.modal-full .modal-content .modal-header {
	height: auto;
	min-height: 72px;
	width: 100%;
	position: absolute;
	top: 0;
}

.modal-dialog.modal-full .modal-content .modal-body {
	top: 72px;
	bottom: 0;
	width: 100%;
	overflow: auto;
	position: absolute;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.modal-content .modal-footer {
	right: 0;
	bottom: -45px;
	padding: 0;
	border-top: none;
	background-color: transparent;
	position: absolute;
}

.modal-dialog.modal-full .modal-content .modal-footer {
}

.modal-vertical-centered {
	transform: translate(0, 50%) !important;
	-ms-transform: translate(0, 50%) !important; /* IE 9 */
	-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

ul.ui-autocomplete, div.select2-drop {
	z-index: 1000000;
}

.bg-resolved {
  background-color: #90EE90;
}
a.bg-resolved:hover {
  background-color: #9ACD32;
}

.bg-duplicate {
  background-color: #DDA0DD;
}
a.bg-duplicate:hover {
  background-color: #DA70D6;
}

.hidden {
	opacity: 0.3;
}

.btn-transparent {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}


.list-group-item-transparent {
  color: inherit;
  background-color: transparent;
}
a.list-group-item-transparent {
  color: inherit;
}
a.list-group-item-transparent .list-group-item-heading {
  color: inherit;
}
a.list-group-item-transparent:hover,
a.list-group-item-transparent:focus {
  color: inherit;
  background-color: transparent;
}
a.list-group-item-transparent.active,
a.list-group-item-transparent.active:hover,
a.list-group-item-transparent.active:focus {
  color: inherit;
  background-color: transparent;
  border-color: #3c763d;
}

/*
 * http://stackoverflow.com/questions/15982233/spinner-for-twitter-bootstrap-btn
 */
 .spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.redactor-box .redactor-editor, .inner-shadow  {
	box-shadow: inset 2px 2px 6px #999 !important;
}

.popover-xlg {
	min-width: 640px;
}

.popover-xxlg {
	min-width: 720px;
}

.popover .kv-form-horizontal .form-group,
.popover .kv-form-horizontal .form-control {
	width: 100%;
	display: block !important;
}

.popover .kv-form-horizontal .input-group {
	width: 100%;
	display: table !important;
}

.hoverable li:hover .sub-menu {
    visibility: visible;
}

.navbar-inverse .hoverable {
	background-color: #222;
	color: #fff;
}

.navbar-inverse .navbar-nav .hoverable:hover > a {
	background-color: #080808;
	color: #fff;
}

 .hoverable:hover .navbar-nav > a {
	background-color: #eee;
	border-color: #337ab7
}

.hoverable:hover .dropdown-menu {
    display: block;
}


.navbar-inverse .dropdown-menu {
	background-color: #222;
	border: none;
}

.navbar-inverse .dropdown-menu  > li > a {
	line-height: 2em !important;
	vertical-align: middle;
	color: #fff !important;
}

.navbar-inverse .dropdown-menu li a:hover {
	color: #FFC21D !important;
	background-color: transparent !important;
}
